.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #838399;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 12px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  color: #838399;
  transition: 150ms all ease-in-out;
}
.Phonetic a:hover {
  color: white;
  background: #838399;
}
.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
